<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        <% if current_user %>
        こんにちは、
        <%#= link_to "#{current_user.name} さん", root_path, class: :greeting__link%>
        <%= link_to "#{current_user.name} さん", user_path(current_user), class: :greeting__link %>
        <% else %>
        <% end %>
      </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
    <% @prototypes.each do |prototype| %>
      <%= render partial: "prototype", locals: { prototype: prototype } %>
    <% end %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
